.commentsListItem {
  display: flex;
  gap: 0.5rem;
  margin-top: 1rem;

  .avatar {
    width: 2.25rem;
    height: 2.25rem;
    flex-shrink: 0;
  }

  p {
    padding: 0.5rem 0.8rem;
    border-radius: 0.75rem;
    background-color: #f5f5f5;
    font-size: 0.9rem;

    .link {
      color: #000;
      font-weight: bold;
      text-decoration: none;
    }
  }
}
