@mixin button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.75rem 1rem;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &.noHover {
    cursor: default;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        transform: none;
      }
    }
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      transform: scale(1.1);
    }
  }
}

@mixin img {
  width: 2rem;
}

@mixin span {
  display: flex;
  align-items: center;
  height: 3.5rem;
}

.postFooter {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  div {
    &:first-of-type {
      display: flex;
      align-items: center;

      button {
        @include button;
        padding-right: 0;

        img {
          @include img;
        }
      }

      span {
        @include span();
        margin-left: 0.25rem;
      }
    }

    &:last-of-type {
      display: flex;
      align-items: center;

      button {
        @include button;
        padding-left: 0;

        img {
          @include img;
        }
      }

      span {
        @include span();
        justify-content: flex-end;
        margin-right: 0.25rem;
      }
    }
  }
}
