@mixin button {
  padding: 1rem;
  background-color: transparent;
  border: none;
  cursor: pointer;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      transform: scale(1.1);
    }
  }
}

@mixin img {
  width: 1.8rem;
}

.postFooter {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  div {
    &:first-of-type {
      display: flex;
      align-items: baseline;

      button {
        @include button;
        padding-right: 0.25rem;

        img {
          @include img;
        }
      }
    }

    &:last-of-type {
      display: flex;
      align-items: baseline;

      button {
        @include button;
        padding-left: 0.25rem;
      }

      img {
        @include img;
        transform: translateY(10%);
      }
    }

    span {
      transform: translateY(-15%);
    }
  }
}
