.commentsList {
  list-style: none;

  & > p {
    margin-top: 1rem;
  }
}

.skeletonCommentsListItem:first-of-type {
  span:last-of-type {
    max-width: 18.75rem;
  }
}

.skeletonCommentsListItem:last-of-type {
  span:last-of-type {
    height: 4rem;
  }
}
