.postHeader {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  img {
    width: 2.5rem;
  }

  h2 {
    font-size: 1.1rem;
    font-weight: normal;

    p {
      font-size: 0.8rem;
      color: #999;
    }
  }
}
