.ProfileFriendsListItem {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  @media (min-width: 768px) {
    width: calc(50% - 1rem);
  }

  & > div {
    & > p:last-of-type {
      font-size: 0.9rem;
      color: #999;
    }
  }
}

.Avatar {
  width: 3rem;
  height: 3rem;

  @media (min-width: 768px) {
    width: 4rem;
    height: 4rem;
    border-radius: 0.5rem;
  }
}
