@use 'gradients';

.user {
  margin-top: 3rem;
}

.backgroundImage {
  position: relative;
  width: 100%;
  height: 10rem;
  background: -webkit-linear-gradient(to left, #04a1fc, #00d8dd);
  background: linear-gradient(to left, #04a1fc, #00d8dd);

  @media (min-width: 768px) {
    height: 20rem;
  }
}

.avatar {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 50%);
  display: block;
  width: 6rem;
  height: 6rem;
  margin: 0 auto;
  border: 0.25rem solid #fff;

  @media (min-width: 768px) {
    width: 10rem;
    height: 10rem;
  }
}
