.backdrop {
  position: fixed;
  inset: 0;
  z-index: 1;
  // NOTE: use % instead of vw/vh, because the viewport units seem to clash with matchMedia API
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.backdropDelayedEnter {
  opacity: 0;
}

.backdropDelayedEnterActive {
  opacity: 1;
  transition: opacity 0.2s 0.2s;
}

.backdropDelayedExit {
  opacity: 1;
}

.backdropDelayedExitActive {
  opacity: 0;
  transition: opacity 0.2s 0.2s;
}

.backdropEnter {
  opacity: 0;
}

.backdropEnterActive {
  opacity: 1;
  transition: opacity 0.2s;
}

.backdropExit {
  opacity: 1;
}

.backdropExitActive {
  opacity: 0;
  transition: opacity 0.2s;
}
