.postHeader {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem 1rem 0 1rem;

  img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: #eee;
    object-fit: contain;
  }

  h2 {
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 1.1rem;
    font-weight: normal;

    p {
      font-size: 0.8rem;
      color: #999;
    }
  }
}
