.profilePostsList {
  display: flex;
  justify-content: flex-end;

  @media (min-width: 768px) {
    gap: 0.5rem;
  }

  & > aside {
    display: none;

    @media (min-width: 768px) {
      position: sticky;
      top: 3rem;
      left: 0;
      display: flex;
      flex-direction: column;
      align-self: flex-start;
      width: 40%;
    }

    & > section {
      width: 100%;
      margin-top: 0.5rem;
      background-color: #fff;
      border-radius: 0.3rem;
      border: 1px solid #e5e5e5;
      box-shadow: 2px 2px 8px #e5e5e5;

      &:last-of-type {
        height: 30rem;
        margin-bottom: 0.5rem;
      }
    }
  }

  & > main {
    width: 100%;

    @media (min-width: 768px) {
      width: 60%;
    }

    .post {
      width: 98%;
      max-width: none;

      @media (min-width: 768px) {
        width: 100%;
      }

      &.first {
        margin-top: 0.5rem;
      }
    }

    .skeletonPost {
      width: 98%;
      max-width: none;
      margin: 0.5rem auto 0 auto;

      @media (min-width: 768px) {
        width: 100%;
      }
    }

    & > button {
      display: block;
      width: 98%;
      margin: 0 auto 0.5rem auto;
      padding: 0.6rem 0;
      outline: none;
      border: none;
      border-radius: 0.3rem;
      font-size: 1rem;
      background-color: #04a1fc;
      color: #fff;
      cursor: pointer;

      &:focus-visible {
        filter: brightness(1.05);
      }

      @media (hover: hover) and (pointer: fine) {
        &:hover:not(:disabled) {
          filter: brightness(1.05);
        }
      }

      @media (min-width: 768px) {
        width: 100%;

        background-color: transparent;
        color: #000;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.postsNotFoundMessage {
  margin-top: 0.75rem;
  text-align: center;
}
