*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: #eee;
  font-family: sans-serif;
}

a {
  color: #000;
  text-decoration: none;
}

/* Prevent annoying URL bar behavior on mobile borwsers */
html {
  overflow: hidden;
  height: 100%;
}

body {
  height: 100%;
  overflow: auto;
}
/* StackOverflow question: https://tinyurl.com/aerx5xn2 */
/* Prevent annoying URL bar behavior on mobile borwsers */

body.whiteBackgroundColor {
  background-color: #fff;
}

@media (min-width: 768px) {
  body.whiteBackgroundColor {
    background-color: #eee;
  }
}
